<html>
    <body>
        <h1>Logged in as {{ user_info.display_name }}</h1>
        <img id="avatar" width="200" src="{{ user_info.images[0].url }}" />
        <dl>
         <dt>Display name: {{ user_info.display_name }}</dt><dd></dd>
         <dt>Username: {{ user_info.username }}</dt><dd></dd>
         <dt>Email: {{ user_info.email }}</dt><dd></dd>
         <dt><a href="{{ user_info.uri }}">Spotify URI</a></dt><dd></dd>
         <dt><a href="{{ user_info.external_urls.spotify }}">Page</a></dt><dd></dd>
        </dl>
        <p><a href="/">Log in again</a></p>
    </body>
</html>
